.contact-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-section::before,
.contact-section::after {
    content: '';
    position: absolute;
    border: 2px solid #96ffdc;
    opacity: 0.1;
    pointer-events: none;
    animation: floatBox 8s ease-in-out infinite;
    border-radius: 40px;
}

.contact-section::before {
    top: -10px;
    left: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
}

.contact-section::after {
    bottom: -20px;
    right: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    animation-delay: 4s;
}

.contact-title {
    text-align: center;
    color: #96ffdc;
    font-size: 36px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #ffffffcc;
}

.contact-form input,
.contact-form textarea {
    margin-top: 6px;
    padding: 10px;
    border: 1px solid #2bffb8;
    background-color: #1a1a1a;
    color: white;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #96ffdc;
    box-shadow: 0 0 4px #96ffdc88;
}

.contact-form button {
    margin-top: 10px;
    padding: 12px;
    background-color: transparent;
    color: #96ffdc;
    border: 1px solid #96ffdc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    background-color: #2bffb8;
    color: #000;
    box-shadow: 2px 2px 10px rgba(43, 255, 184, 0.5);
    transform: translateY(-2px);
}

.contact-links-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem auto;
    flex-wrap: wrap;
}

@media (max-width: 760px) {
    .contact-section {
        width: 85%;
    }
}

@media (max-width: 640px) {
    .contact-section {
        width: 85%;
    }

    .contact-form{
        width: 100%;
    }
}
